{% extends "core/base.html" %}
{% block content %}
<h2>Добавить вопрос в тест: {{ test.title }}</h2>

<form method="post">
    {% csrf_token %}
    {{ q_form.as_p }}
    {{ formset.management_form }}
    <h4>Варианты ответа:</h4>
    {% for form in formset %}
        <div style="margin-bottom: 10px; border: 1px solid #ccc; padding: 5px;">
            {{ form.as_p }}
        </div>
    {% endfor %}
    <button type="submit">Добавить вопрос</button>
</form>

<a href="{% url 'teacher_dashboard' %}">Завершить</a>
{% endblock %}
