{% extends "core/base.html" %}
{% block content %}
<h2>Кабинет учителя</h2>
<p><a href="{% url 'teacher_results' %}">📊 Результаты учеников</a></p>
<a href="{% url 'add_student' %}" class="btn btn-primary">➕ Добавить ученика</a>
<a href="{% url 'create_test' %}" class="btn btn-success">📝 Создать тест</a>
<h3>Ваши тесты:</h3>
<ul>
  {% for test in tests %}
    <li>{{ test.title }} — {{ test.subject.name }}</li>
    <a href="{% url 'edit_test' test.id %}">✏️ Редактировать</a>
    <a href="{% url 'add_question' test.id %}">➕ Добавить вопрос</a>
  {% empty %}
    <li>Нет тестов</li>
  {% endfor %}
</ul>
{% endblock %}
